@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Myanmar:wght@400;500;600;700;800;900&family=Staatliches&family=Teko:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bangers&family=Bebas+Neue&family=Noto+Serif+Myanmar:wght@400;500;600;700;800;900&family=Staatliches&family=Teko:wght@400;500;600;700&display=swap');
.about {
    padding: 50px 25% 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    align-items: start;
}

.my-name {
    color: #60e8cd;
    font-family: 'Teko', sans-serif !important;
    letter-spacing: 1px !important;
    font-size: 19px !important;
    word-spacing: 3px;
}

.about h2 {
    color: #ccd6f6;
    font-size: 48px;
    margin: 5px 0px 0px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
}

.about h3 {
    color: #8892b0;
    font-size: 48px;
    margin-top: 0px;
}

.about .text {
    color: #8892b0;
    padding-right: 120px;
    line-height: 30px;
}

@media (max-width: 1600px) {
    .about {
        padding: 50px 20% 20px;
    }
    .about h2 {
        font-size: 40px;
    }
    .about h3 {
        font-size: 40px;
    }
    .about .text {
        font-size: 16px;
    }
}

@media (max-width: 1200px) {
    .about {
        padding: 50px 18% 20px;
    }
    .about h2 {
        font-size: 30px;
    }
    .about h3 {
        font-size: 30px;
    }
    .about .text {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .my-name {
        font-size: 14px !important;
    }
    .about {
        padding: 50px 10% 20px 25%;
    }
    .about h2 {
        font-size: 25px;
    }
    .about h3 {
        font-size: 25px;
    }
    .about .text {
        font-size: 12px;
        line-height: 20px;
    }
}

@media (max-width: 650px) {
    .about {
        padding: 50px 10% 20px;
        align-items: center;
        overflow: hidden;
    }
    .about .text {
        width: 350px;
        margin: 0px auto;
        padding: 20px 40px;
        text-indent: 50px;
    }
}